@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
  font-family: 'Inter';
}


.container-qurey{
    container-type: inline-size;
    margin: auto;
}

.form{
    font-size: 20px;
}

input::placeholder {
    border-radius: 4px;
    font-weight: 100;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

 textarea {
    resize: none;
    height: 250px;
    border: 2px solid #658DF1;
    border-radius: 4px;
    width: 550px;
    padding: 10px;
  } 

  textarea[type=text]{
    font-weight: 500;
  }

  input[type=number]{
    font-weight: 500;
    color: #658DF1;
  }

  input[type=email]{
    font-weight: 500;
    color: #658DF1;
  }

  input[type=password]{
    font-weight: 500;
    color: #658DF1;
  }

  input[type=text]{
    font-weight: 500;
    color: #658DF1;
  }

.input-bordered{
    border-color: #658DF1;
    border: 2px solid;
}

.right{
 visibility: hidden;
}

.wrong{
  visibility: hidden;
}


label{
  margin-right: 100px;
  font-size: 20px;
  color: #1A37A7;
}

/* #i2{
  position: absolute;
  visibility: hidden;
  margin-top: 5px;
} */

i{
  position: absolute;
  visibility: hidden;
  margin-top: 5px;
  right: 550px; 
}

/* form{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  
} */

input{
  width: 550px;
}

small{
  position: absolute;
  visibility: hidden;
  margin-top: 50px;
  color: #CE4343;
  
}


.form-edit.success textarea.check-s{
  visibility: visible;
}

.form-edit.success textarea{
  border: 2px solid #1DD329;
}

.form-edit.error textarea{
  border: 2px solid #CE4343;
}

.form-edit.error textarea.check-e{
  visibility: visible;
}

.form-edit.error {
  margin-bottom: 32px;
}

.form-edit.error #box{
  border: 2px solid #CE4343;
  border-right: none;
}

.form-edit.success #box{
  border: 2px solid #1DD329;
  border-right: none;
}


.form-edit p#imgfile{
  border: 2px solid #658DF1
}

.form-edit.success p#imgfile{
  border: 2px solid #1DD329
}

.form-edit.error p#imgfile{
  border: 2px solid #CE4343
}




.form-edit.success input{
  border: 2px solid #1DD329;
  
}

.form-edit.error input{
  border: 2px solid #CE4343;
}


.form-edit.success i.check-s{
  visibility: visible;
}


.form-edit.error  i.check-e{
  visibility: visible;
}

.form-edit.error small {
  visibility: visible;
}


form textarea{
  resize: none;
  height: 250px;
  border: 2px solid #658DF1; 
  border-radius: 4px;
  font-weight: 100;
}

 form.error textarea{
  resize: none;
  height: 250px;
  border: 2px solid #CE4343; 
  border-radius: 4px;
  font-weight: 100;
} 

 form.success textarea{
  resize: none;
  height: 250px;
  border: 2px solid #1DD329; 
  border-radius: 4px;
  font-weight: 100;
} 



#imgg {
  width: 100%;
  display: flex;
  animation: slide 5s infinite;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100);
  }
  50%{
    transform: translateX(-100);
  }
  55%{
    transform: translateX(-200);
  }
  75%{
    transform: translateX(-200);
  }
  80%{
    transform: translateX(-300);
  }
  100%{
    transform: translateX(-300);
  }
}